header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3b5998;
  h1 {
    padding-left: 5%;
    color: #FFF;

  }
  nav {
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    a {
      color: #FFF
    }
  }
}