// SCSS Globals
@import './scss_config/normalize';
@import './scss_config/variables';

// APP STYLES
.container{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  footer {
    background-color: black;
    height: 50px;
  }
}

// COMPONENT STYLES
// Note: npm 'dev-sass' script will recursively track all child sass files
// however saving them will produce extraneous dev-only css files in the styles folder  
// folder when saved. Run the npm 'pro-sass' script to generate a final uglified
// stylesheet and wipe all other css files before pushing to production.
@import './navbar/navbar';
@import './chat/chat';