.messages {
  border: 1px solid #BBB;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%; }
  .messages ul {
    overflow: scroll; }
  .messages .messageListEntry {
    border: 1px solid #DDD;
    padding: 1em 2.5em 1em 3em;
    margin: 0 2em 0 1em;
    display: flex;
    flex-direction: row; }
    .messages .messageListEntry .left {
      margin-right: 1em; }
    .messages .messageListEntry .right {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .messages .messageListEntry .right h3 {
        margin: 0.2em 0 0.5em 0; }
      .messages .messageListEntry .right textarea {
        border: 1px solid #DDD;
        border-radius: 5px;
        margin: 0.5em 0;
        padding: 0.2em;
        height: 2em; }
      .messages .messageListEntry .right .actions {
        align-self: flex-end; }
        .messages .messageListEntry .right .actions a {
          margin: 0 0.5em; }
  .messages .reply {
    padding: 1em 0.5em; }
    .messages .reply form {
      border: 1px solid #DDD;
      padding: 1em 0; }
      .messages .reply form textarea {
        width: 85%;
        height: 6em;
        display: block;
        margin: 0 auto;
        border: 2px solid #BBB;
        padding: 0.5em;
        font-size: 1.2em;
        border-radius: 10px; }
      .messages .reply form input[type="submit"] {
        border-radius: 10px;
        background-color: #3b5998;
        color: #FFF;
        width: 15em;
        height: 3em;
        display: block;
        margin: 0 auto;
        border: none; }
      .messages .reply form input[type="submit"]:hover {
        background-color: #263b67; }
      .messages .reply form input[type="submit"]:active {
        background-color: #3b6cd2; }
