header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3b5998; }
  header h1 {
    padding-left: 5%;
    color: #FFF; }
  header nav {
    padding-right: 5%;
    display: flex;
    flex-direction: row; }
    header nav a {
      color: #FFF; }
